* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(239, 239, 242, 1);
    padding: 36px 0;
}

header .container {
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

header .sub_container {
    display: flex;
    align-items: center;
    gap: 65px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 48px;
}

header nav ul li a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(25, 25, 28, 1);
    text-decoration: none;
}
header nav ul li a:hover{
    color: purple;
    text-decoration: underline;
}

header nav ul li{
    transition: transform 0.3s ease;
}

header nav ul li:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

header nav ul li a:active{
    color: red;
}

header .container .link {
    display: flex;
    gap: 48px;
    align-items: center;
}

header .container .link a {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(25, 25, 28, 1);
    text-decoration: none;
}

header .container .link a:last-of-type {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    background-color: rgba(25, 25, 28, 1);
    color: rgba(239, 239, 242, 1);
    padding: 12px 37px;
}

header .container .logo {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: rgba(25, 25, 28, 1);
    text-decoration: none;
}
header .container .logo:hover{
    color: green;
    transform: rotate(360deg);
    transition: 2.9s;
}

header .container .logo:focus{
    color: yellow;
    border:  2px solid black;
}

/*header nav ul li:hover{*/
/*    transform: scale(1.3);*/
/*    transition: 0.3s;*/
/*}*/
/*.main_banner a:hover{*/
/*    transform: rotate(360deg);*/
/*    transition: 0.3s;*/
/*}*/

/* OFFER */

.offer {
    background-color: rgba(239, 239, 242, 1);
    padding-top: 50px;
}

.offer .container {
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    background: url("../img/img01.png") 135% 100% no-repeat;
}

.offer__holder {
    max-width: 638px;
    background: url(../img/bg01.png) 100% 100% no-repeat;
}

.offer_miro {
    top: 80px;
    right: 500px;
}

.offer_photoshop {
    top: 260px;
    right: 500px;
}

.offer_figma {
    top: 380px;
    right: 650px;
}

.offer_illustration {
    bottom: 100px;
    right: 600px;
}

.offer__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 50px;

}

.offer__description {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 50px;

}

.offer__profession {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.offer .button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(251, 251, 252, 1);
    background-color: rgba(80, 77, 238, 1);
    padding: 15px 40px;
    margin-bottom: 90px;
    border: none;
    margin-top: 50px;
}

.offer__sale {
    color: rgba(25, 25, 28, 1);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 20px;
}

.offer__time {
    color: rgba(25, 25, 28, 1);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 70px;
}

.offer__list {
    list-style: none;
    position: relative;
}

.offer_item {
    position: absolute;
    border: 2px solid rgba(25, 25, 28, 1);
    padding: 16px 36px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(25, 25, 28, 1);
}

.offer_protopie {
    top: 0;
    right: 200px;
}

.offer_invision {
    top: 70px;
    right: 10px;
}

.offer__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: rgba(25, 25, 28, 1);

}

/*learn */

.learn {
    background-color: rgba(251, 251, 252, 1);
    padding-top: 40px;
}

.learn-container {
    margin: auto;
    max-width: 1440px;
}

.sub-learn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.designer__text {
    max-width: 588px;
}

.designer__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 20px;
}

.designer__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(109, 109, 119, 1);
}

.counter__item-number {
    font-family: Inter;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 10px;
}

.counter__item-description {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 20px;
}

.counter__item-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(109, 109, 119, 1);
    margin-top: 20px;
}

.container-desription {
    display: flex;
    justify-content: space-between;
}

.learn_portfolio {
    font-family: Inter;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 15px;
}

.learn_box1 {
    background-color: rgba(222, 239, 228, 1);
    width: 467px;
    padding: 60px 60px;
}

.learn_box2 {
    background-color: rgba(243, 243, 215, 1);
    width: 467px;
    padding: 60px 40px 0;
}

.learn_box3 {
    background-color: rgba(239, 222, 238, 1);
    width: 467px;
    padding: 60px 40px 0;
}

.learn_item-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(25, 25, 28, 1);
    max-width: 360px;
    margin-top: 15px;
}

/*discover */

.discover {
    background-color: rgba(251, 251, 252, 1);
    padding: 50px 0;
}

.discover__container {
    margin: auto;
    max-width: 1440px;
}

.discover__container h2 {
    /*width: 500px;*/
    font-family: Inter;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 40px;
}

.discover__price {
    display: flex;
    justify-content: space-between;
}

.base {
    background-color: rgba(222, 239, 228, 1);
    width: 467px;
    padding: 60px 100px 0 50px;
}

.optimal {
    background-color: rgba(80, 77, 238, 1);
    width: 467px;
    padding: 60px 100px 0 50px;
}

.base_title {
    font-family: Inter;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: rgba(25, 25, 28, 1);
    margin-bottom: 50px;

}

.optimal h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: rgba(251, 251, 252, 1);
    margin-bottom: 50px;

}

.base ul li {
    margin-bottom: 20px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(25, 25, 28, 1);
}

.optimal ul li {
    margin-bottom: 20px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(251, 251, 252, 1);
}

.count-total-color {
    color: rgba(251, 251, 252, 1);
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.discover__count-total {
    color: rgba(109, 109, 119, 1);
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.discover__count {
    color: rgba(25, 25, 28, 1);
    margin-bottom: 15px;
    font-family: Inter;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;

}

.discover__count-optimal {
    color: rgba(251, 251, 252, 1);
    margin-bottom: 15px;
    font-family: Inter;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;

}

.discover__price-choose {
    color: rgba(251, 251, 252, 1);
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: rgba(25, 25, 28, 1);
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    border: none;
}

.discover__price-choose-optimal {
    color: rgba(80, 77, 238, 1);
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: rgba(251, 251, 252, 1);
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    border: none;
}

.count-total {
    margin-bottom: 200px;
}

.count-total_2 {
    margin-bottom: 152px;
}

.count-total_3 {
    margin-bottom: 124px;
}

/*footer */

.footer {
    background-color: #19191c;
    padding: 50px 0;
}

.footer__container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;

}

.footer_logo_link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: rgba(251, 251, 252, 1);

}

.footer_logo_support {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: rgba(251, 251, 252, 1);
    text-decoration: none;
    margin-bottom: 10px;

}

.footer_logo_margin {
    margin-bottom: 30px;
}

.footer__list {
    list-style: none;
}

.sitemap__title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(251, 251, 252, 1);
    margin-bottom: 30px;
}

.sitemap__list {
    list-style: none;
}

.sitemap__list li {
    margin-bottom: 20px;
}

.sitemap__list li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(239, 239, 242, 1);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 120px;
}

.copyright_text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(109, 109, 119, 1);
    text-decoration: none;
}

.footer_logo {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 391px) {
    header {
        padding: 16px 15px;
    }

    header .container .link a:last-of-type {
        padding: 8px 20px;
    }

    .offer {
        padding: 20px 15px;
    }

    .learn {
        padding: 0 15px;
    }

    .discover {
        padding-bottom: 0;
    }

    .discover__price {
        flex-wrap: wrap;
    }

    .footer__container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 15px;
    }

    .copyright {
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .designer__text {
        margin-bottom: 35px;
    }

    .counter {
        margin-bottom: 35px;
    }

    .sub-learn-container {
        margin-bottom: 40px;
    }

    .offer__holder {
        background: url(../img/bg01.png) 60% 100% no-repeat;
        text-align: center;
    }

    .container-desription {
        flex-wrap: wrap;
    }

    header nav {
        display: none;
    }

    .sub-learn-container {
        flex-wrap: wrap;
    }

    .learn_box1 {
        max-width: 380px;
        padding: 40px 20px;

    }

    .learn_box2 {
        max-width: 380px;
        padding: 40px 20px;

    }

    .learn_box3 {
        max-width: 380px;
        padding: 40px 20px;

    }

    .sitemap {
        width: 120px;
    }
    .sitemap__title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .sitemap__list li {
        margin-bottom: 3px;
    }

    .sitemap__list li a {
        font-size: 12px;
        line-height: 12px;
    }
    .offer__list {
        display: none;
    }

    header .container .link {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    header .container .link a {
        font-size: 12px;
        line-height: 14px;
    }

    /*.footer{*/
    /*    padding: 30px 10px;*/
    /*}*/
    .discover__container h2 {
        /*width: 300px;*/
        /*font-family: Inter;*/
        /*font-weight: 500;*/
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 45px;
        padding-left: 10px;
    }

    .offer {
        background: url(../img/bg01.png) 60% 100% no-repeat;
    }
}